<header>
    {%- include mainnav.html -%}
    <div class="header-image-container">
        <img src="uploads/header-image.jpg" alt="Header image" class="header-image">
        <section class="div-container">
            <div class="input-field">
                <span>
                    {%- include icons.html icon= 'map' -%}
                    <input type="text" placeholder="  Enter your location">
                </span>
                <button type="submit" class="">Order Now</button>
            </div>
        </section>
    </div>
</header>