<div class="show-smallup nav-bar">
    <ul class="none d-flx al-i-c j-c-c">
        <li class="pr-list-item">
            <a href="" class="alt-link is-active">Home</a>
        </li>
        <li class="pl-list-item">
            <a href="">Our Story</a>
        </li>
        <li class="px-logo">
            {%- include icons.html icon= 'logo' -%}
        </li>
        <li class="pr-list-item">
            <a href="">Menu</a>
        </li>
        <li class="pl-list-item">
            <a href="">Contact Us</a>
        </li>
    </ul>
</div>
<div class="mobile-header">
    <a href="" class="hide-smallup">
        {%- include icons.html icon= 'logo' -%}
    </a>
    {%- include mobilenav.html -%}
</div>

