<div class="hide-smallup">
    <div id="menuToggle">
    
        <input type="checkbox" />
    
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Our Story</a>
            </li>
            <li>
                <a href="">Menu</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </ul>
      </div>
</div>