<article class="about-article">
    <div class="about-content maxwidth-md">
        <h2 class="">Our <span class="ml-h mb-0 mr-h"></span> Story</h2>
        {%- include icons.html icon= 'heading' -%}
        <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
</article>
