<section id="contact" class="contact-container">
    <div class="contact-info">
        <ul class="none contact-grid maxwidth-tb">
            <li class="first-li">
                <p class="fw-bold co-black tx-c mb-0 pb-1">Address</p>
                <p class="fw-bold co-black tx-c mb-0">8, Oduduwa Crescent,Ikeja GRA.</p>
            </li>
            <li class="second-li">
                <p class="fw-bold co-black tx-c mb-0 pb-1">Follow us</p>
                <p class="tx-c mb-0">
                    <span class="pl-h">
                        <a href="">
                            {%- include icons.html icon= 'twitter' -%}
                        </a>
                    </span>
                    <span class="pl-h">
                        <a href="https://www.instagram.com/ennis_cuisine/">
                            {%- include icons.html icon= 'instagram' -%}
                        </a>
                    </span>
                    <span class="pl-h">
                        <a href="">
                            {%- include icons.html icon= 'facebook' -%}
                        </a>
                    </span>
                </p>
                <p class="fw-bold co-black tx-c mb-0">2018 Enni's Cuisine.<span class="picotext"><a href=""> website by Moyin</a></span></p>
            </li>
            <li class="third-li">
                <p class="fw-bold co-black tx-c mb-0 pb-1">Contact us</p>
                <p class="fw-bold co-black tx-c mb-0">{{ site.phoneno }}</p>
                <p class="fw-bold co-black tx-c mb-0">
                    <a href="">
                        {{ site.email }}
                    </a>
                </p>
            </li>
        </ul>
    </div>
    
</section>