<section class="my-2">
    <div class="tx-c">
        <h2 class="">Gallery</h2>
        {%- include icons.html icon= 'heading' -%}
    </div>
    <ul class="none maxwidth-lg gallery-grid">
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637742/kale-efo-riro-9.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637793/spaggetti.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637776/salad.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637667/full-meal.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637638/chinese-rice.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637597/chicken.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561637548/amala.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
        <li>
            <img src="https://res.cloudinary.com/moyin/image/upload/v1561555058/Baked-Jollof-Rice.jpg" alt="" class="height obj-fit-cover width menu-image">
        </li>
    </ul>
</section>