<article class="maxwidth-md menu-container">
        <h2 class="mb-0">
            Our <span class="ml-h mb-0 mr-h"></span> Menu
        </h2>
        {%- include icons.html icon= 'heading' -%}
        <div class="categories-container pl-1">
            <p class="nanotext fw-bold co-black pt-2 mb-0">
                Categories
            </p>
            <ul class="none">
                <li>
                    <a href="">All</a>
                </li>
                <li>
                    <a href="">Soups</a>
                </li>
                <li>
                    <a href="">Swallow</a>
                </li>
                <li>
                    <a href="">Stew & Sauce</a>
                </li>
                <li>
                    <a href="">Snacks</a>
                </li>
                <li>
                    <a href="">Drinks</a>
                </li>
            </ul>
        </div>
    <!-- {%- include icons.html icon= 'salad' -%} -->
</article>